#include <windows.h>
#include "resource.h"
#include "version.h"

IDI_MYICON ICON "studio-brightness-plusplus.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    SBPP_VER_MAJOR,SBPP_VER_MINOR,SBPP_VER_PATCH,SBPP_VER_BUILD
 PRODUCTVERSION SBPP_VER_MAJOR,SBPP_VER_MINOR,SBPP_VER_PATCH,SBPP_VER_BUILD
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "LitteRabbit-37"
            VALUE "FileDescription",  "Studio Brightness++"
            VALUE "FileVersion",      SBPP_VERSION_NARROW
            VALUE "InternalName",     "studio-brightness-plusplus"
            VALUE "LegalCopyright",   "Copyright (C) LitteRabbit-37"
            VALUE "OriginalFilename", "studio-brightness-plusplus.exe"
            VALUE "ProductName",      "Studio Brightness++"
            VALUE "ProductVersion",   SBPP_VERSION_NARROW
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDD_OPTIONS DIALOGEX 0, 0, 260, 290
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "Enable automatic brightness", IDC_AUTO_BRIGHTNESS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 8, 180, 12
    CONTROL "Enable automatic rotate",      IDC_AUTO_ROTATE,     "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 24, 180, 12
    CONTROL "Run at Windows startup",      IDC_RUN_AT_STARTUP,  "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 40, 180, 12
    CONTROL "Show On-Screen Display",      IDC_SHOW_OSD,        "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 56, 180, 12
    CONTROL "Enable custom shortcuts",     IDC_ENABLE_HOTKEYS,  "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 72, 180, 12

    GROUPBOX "Color preset", -1, 6, 88, 248, 58
    LTEXT    "", IDC_PRESET_DISPLAY_LABEL, 14, 100, 234, 9
    COMBOBOX IDC_PRESET_COMBO, 14, 111, 234, 120, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "Turn off HDR", IDC_HDR_OFF_BTN, 14, 128, 70, 12, NOT WS_VISIBLE

    GROUPBOX "Shortcuts", -1, 6, 152, 248, 72

    LTEXT   "Increase:", -1, 14, 168, 44, 10
    CONTROL "", IDC_HOTKEY_UP,   "msctls_hotkey32", WS_TABSTOP | WS_BORDER, 70, 166, 168, 14

    LTEXT   "Decrease:", -1, 14, 188, 44, 10
    CONTROL "", IDC_HOTKEY_DOWN, "msctls_hotkey32", WS_TABSTOP | WS_BORDER, 70, 186, 168, 14

    LTEXT   "Brightness steps (10-50):", -1, 8, 234, 90, 10
    EDITTEXT IDC_BRIGHTNESS_STEPS, 100, 232, 32, 14, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL  "", IDC_BRIGHTNESS_STEPS_SPIN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY, 120, 232, 11, 14

    PUSHBUTTON     "Reset to Defaults", IDC_RESET_SHORTCUTS, 8, 256, 100, 14
    DEFPUSHBUTTON  "Save",              IDOK,                148, 256, 48, 14
    PUSHBUTTON     "Cancel",            IDCANCEL,            202, 256, 48, 14
END
