#include <windows.h>
#include "resource.h"

IDI_MYICON ICON "studio-brightness-plusplus.ico"

IDD_OPTIONS DIALOGEX 0, 0, 260, 190
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "Enable automatic brightness", IDC_AUTO_BRIGHTNESS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 8, 180, 12
    CONTROL "Run at Windows startup",      IDC_RUN_AT_STARTUP,  "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 24, 180, 12
    CONTROL "Enable custom shortcuts",     IDC_ENABLE_HOTKEYS,  "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 40, 180, 12

    GROUPBOX "Shortcuts", -1, 6, 56, 248, 72

    LTEXT   "Increase:", -1, 14, 72, 44, 10
    CONTROL "", IDC_HOTKEY_UP,   "msctls_hotkey32", WS_TABSTOP | WS_BORDER, 70, 70, 168, 14

    LTEXT   "Decrease:", -1, 14, 92, 44, 10
    CONTROL "", IDC_HOTKEY_DOWN, "msctls_hotkey32", WS_TABSTOP | WS_BORDER, 70, 90, 168, 14

    LTEXT   "Brightness steps (10-50):", -1, 8, 138, 90, 10
    EDITTEXT IDC_BRIGHTNESS_STEPS, 100, 136, 32, 14, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL  "", IDC_BRIGHTNESS_STEPS_SPIN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY, 120, 136, 11, 14

    PUSHBUTTON     "Reset to Defaults", IDC_RESET_SHORTCUTS, 8, 160, 100, 14
    DEFPUSHBUTTON  "Save",              IDOK,                148, 160, 48, 14
    PUSHBUTTON     "Cancel",            IDCANCEL,            202, 160, 48, 14
END
